.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #00a8cc ;
    bottom: 0;
    width: 99%;
    height: 2.5rem;
    border: solid;
    border-width: .5rem;
    border-color: white;
    font-size: 15px;
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
    opacity: 0.9;
   
}