

.home-logo{
    border-radius: 2rem;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 8px #00a8cc;
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.75;
    border-color: linen;
}
  

.fadeOut {
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
}
  
.landingBody {
    margin: 0;
    padding: 0;
}
  
.landingBody:before {
    content: '';
    position: fixed;
    margin-top: -1rem;
    width: 100vw;
    height: 100vh;
    background-image: url(../components/Images/HomeLogoImage.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    -webkit-background-size: cover; 
    -moz-filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: cover;
}