/* .testimonials {
    position: relative;
    overflow: hidden;
    font-size: 13px;
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
  } */

.testimonialCard {
    box-shadow: 0px 4px 8px gray;
    transition: 0.3s;
    width: 20%;
    /* height: 350px; */
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
    opacity: 0.75; 
    font-size: 1.1vw;
    height: 70vh;
    margin-bottom: 1rem;
    font-weight: 700;
    margin-right: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

#titleInput {
    width: 20vw;
    margin-right: 20%;
    text-align: start;
}
  
.testimonialCard:hover {
    box-shadow: 0 12px 20px gray;
}
  
.reviewForm {
    display: flex;
    flex-direction: column;
  justify-content: flex-start;
    /* width: 200px; */
    width: 20%;
    margin-left: 3rem;
    box-shadow: 0px 0px 8px gray;
    padding: 1rem 1rem;
    padding-top: 1%;
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
    margin-bottom: 1rem;
    opacity: 0.9;
    text-align: start;
}
  
.reviewForm:hover {
    box-shadow: 0 12px 20px gray;
}
  
#reviewContent, #titleInput, #submitReview  {
    border: solid;
    border-color:teal;
}
  
#reviewContent, #titleInput {
    background-color: whitesmoke;
}
  
#submitReview {
  /* margin: auto; */
  margin-right: 35%;
}
  
#submitReview:active {
    box-shadow: 0 8px 16px gray;
}
  
#reviewContent {
    height: 100px;
}
  
.reviews {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
}
  
    
#Riley {
    height: 250px;
    width: 200px;
    box-shadow: 0px 0px 8px gray;
    opacity: 0.9; 
}

#Riley:hover {
    box-shadow: 0 12px 20px gray;
}
  
  
#rileyFeedback {
    text-align: center;
    padding-top: 5%;
    margin: auto;
}
  
#reviewTitle {
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
    text-align: center;
}
  
  /* .reviewCard {
    border: solid;
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
    box-shadow: 0px 0px 8px gray;
    padding-left: 2rem;
    padding-right: 2rem;
  
  } */
  
  /* .rileyFigure{
    text-align: center;
  } */

  .reviewImages {
    width: 30%;
    height: 30%;
    box-shadow: 0px 0px 8px grey;
}
  
.reviewImages:hover {
    box-shadow: 0px 8px 16px gray;
}