/* .App {
  text-align: center;
} */

.home-logo{
  border-radius: 2rem;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 8px #00a8cc;
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* background-color:; */
  opacity: 0.75;
  border-color: linen;

}

main {
  font-size: 20px;
 
}

/* .fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
} */

.fadeOut {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}

.body {
  margin: 0;
  padding: 0;
}

.body:before {
  content: '';
  position: fixed;
  margin-top: -1rem;
  width: 100vw;
  height: 100vh;
  background-image: url(HomeLogoImage.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  -webkit-background-size: cover; 
  -moz-filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: cover;

}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  background-color: #00a8cc;
  border: solid;
  height: 4rem;
  border-width: .5rem;
  border-color: white;
  margin: 0;
  padding: 0;
  margin-bottom: 0!important;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#welcome {
  font-size: 35px;
  font-style: bold;
  flex-wrap: nowrap;
  color: white;
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  text-align: center;
}

a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white;
  
}

.navMenu {
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 3rem; */
}

#navButton {
  border: solid;
  font-size: 12px;
  border-radius: 5px;
  border-color: white;
  border-width: 2px;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  box-shadow: 0px 0px 8px gray;
  text-align: center;
  background-color: teal;
}

#navButton:hover {
  box-shadow: 0 8px 16px white;
}

li:onclick {
  color: white;
}

ul {
  list-style: none;
}

.barley-basics {
  display: flex;
  margin-top: -20px;
  /* justify-content: flex-end; */
  background-image: url(sewing.jpg);
  height: 600px;
  background-size: cover;
  background-attachment: fixed; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat;
  padding-right: .5rem;
  /* justify-content: space-evenly; */
  /* display: block; */
  border: solid;
  border-width: .5rem;
  border-color: white;
  opacity: 0.8;

}



#judy-picture {
  height: 200px;
  width: 150px;
  border-radius: 1rem;
  border: solid;
  border-color: lightskyblue;
  box-shadow: 0px 0px 8px;
}



.testimonials {
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  position: relative;
  overflow: hidden;
  font-size: 13px;
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #00a8cc ;
  /* position: relative; */
  bottom: 0;
  width: 99%;
  height: 2.5rem;
  border: solid;
  border-width: .5rem;
  border-color: white;
  font-size: 15px;
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
 
}


#shop-title {
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  text-align: center;
}

#step1 {
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  text-align: center;
}

.fabricimage {
  width: 100%;
}

.dropdown {
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  text-align: center;
}

#fabric-input {
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  border: solid;
  border-color:  #00a8cc ;
}

.sizeContainer {
  display: flex;
  justify-content: space-evenly;
}

#size1, #size2, #size3 {
  height: 200px;
  width: 200px;
  border: solid;
  border-color: #00a8cc;
  box-shadow: 0px 0px 10px gray;
  border-radius: 10px;
}


figcaption {
    text-align: center;
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
}

#favor-input {
    border: solid;
    border-color: #00a8cc;
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
}


#submitOrder {
    text-align: center;
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
    border: solid;
    border-color: #00a8cc ;
}


#submissionMessage {
    text-align: center;
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
}

#refreshButton button {
    margin: auto;
    text-align: center;
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
    border: solid;
    border-color: #00a8cc ;
}

.card {
  box-shadow: 0px 4px 8px gray;
  transition: 0.3s;
  width: 200px;
  height: 550px;
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  /* opacity: 0.75; */
  margin-left: 3rem;
  margin-top: 2rem;
  font-weight: 700;
  border: solid;
  background-color: teal;
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;


}

#barleybaguselist {
  list-style: square;
}

.card:hover {
  box-shadow: 0 12px 20px gray;
}

.testimonialCard {
  box-shadow: 0px 4px 8px gray;
  transition: 0.3s;
  width: 200px;
  height: 350px;
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
   opacity: 0.75; 
  margin-left: 3rem;
  /* margin-top: 1rem; */
  font-size: 15px;
  height: 300px;
  margin-bottom: 1rem;
  font-weight: 700;
  border: solid;
  background-color: teal;
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;
} 

.reviewForm {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 3rem;
  border: solid;
  border-color: #00a8cc ;
  box-shadow: 0px 0px 8px gray;
  padding: 1rem 1rem;
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
}

 #reviewContent, #title, #submit  {
  border: solid;
  border-color:teal;
}

#reviewContent {
  height: 100px;
  word-wrap: break-word;
    word-break: break-all;
}

  