/* .App {
  text-align: center;
} */

.home-logo{
  border-radius: 2rem;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 8px #00a8cc;
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* background-color:; */
  opacity: 0.75;
  border-color: linen;

}

main {
  font-size: 20px;
 
}


.fadeOut {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}

.landingBody {
  margin: 0;
  padding: 0;
}

.landingBody:before {
  content: '';
  position: fixed;
  margin-top: -1rem;
  width: 100vw;
  height: 100vh;
  background-image: url(./components//Images/HomeLogoImage.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  -webkit-background-size: cover; 
  -moz-filter: blur(3px);
  -webkit-filter: blur(3px);
  background-size: cover;

}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  background-color: #00a8cc;
  border: solid;
  height: 4rem;
  border-width: .5rem;
  border-color: white;
  margin: 0;
  padding: 0;
  margin-bottom: 0!important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  opacity: 0.9;
}

#welcome {
  font-size: 3vw;
  font-style: bold;
  flex-wrap: nowrap;
  color: white;
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  text-align: center;
}

a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white;
  
}

.navMenu {
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 3rem; */
}

#navButton {
  border: solid;
  font-size: 12px;
  border-radius: 5px;
  border-color: white;
  border-width: 2px;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  box-shadow: 0px 0px 8px gray;
  text-align: center;
  background-color: teal;
}

#navButton:hover {
  box-shadow: 0 8px 16px white;
}

li:onclick {
  color: white;
}

ul {
  list-style: none;
}

.barley-basics {
  display: flex;
  margin-top: -20px;
  /* justify-content: flex-end; */
  background-image: url(sewing.jpg);
  height: 600px;
  background-size: cover;
  background-attachment: fixed; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat;
  padding-right: .5rem;
  justify-content: space-between;
  align-items: center;
  /* display: block; */
  border: solid;
  border-width: .5rem;
  border-color: white;
  opacity: 0.8;

}



#judy-picture {
  height: 250px;
  width: 200px;
  border-radius: 1rem;
  border: solid;
  border-color: #00a8cc;
  box-shadow: 0px 0px 8px;
  margin-right: 2.5rem;
  /* margin-left: 30rem;
  margin-top: 6rem; */
}

#judy-picture:hover {
  box-shadow: 0 12px 20px gray;
}



.testimonials {
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  position: relative;
  overflow: hidden;
  font-size: 13px;
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #00a8cc ;
  /* position: relative; */
  bottom: 0;
  width: 99%;
  height: 2.5rem;
  border: solid;
  border-width: .5rem;
  border-color: white;
  font-size: 15px;
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  opacity: 0.9;
 
}


#shop-title {
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  text-align: center;
}

#step1 {
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  text-align: center;
  font-size: 22px;;
}

.fabricimage {
  width: 100%;
}

.dropdown {
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  text-align: center;
}

#fabric-input {
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  border: solid;
  border-color:  #00a8cc ;
  height: 1.5rem;
}

.sizeContainer {
  display: flex;
  justify-content: space-evenly;
}

#size1, #size2, #size3 {
  height: 200px;
  width: 200px;
  border: solid;
  border-color: #00a8cc;
  box-shadow: 0px 0px 10px gray;
  border-radius: 10px;
}

#size1:hover, #size2:hover, #size3:hover {
  box-shadow: 0 12px 20px gray;
  }



figcaption {
    text-align: center;
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
}

#favor-input {
    border: solid;
    border-color: #00a8cc;
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
    width: 8rem;
    height: 1rem;
}

.selections {
  font-size: 20px;
}


#submitOrder {
    text-align: center;
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
    border: solid;
    border-color: #00a8cc ;
    width: 5rem;
}

#submitOrder:hover {
  box-shadow: 0 12px 20px gray;
}


#submissionMessage {
    text-align: center;
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
    justify-content: space-between;
}

.submissionTags {
  display: flex;
  flex-direction: column;
}

#refreshButton {
    margin: auto;
    text-align: center;
    font-family: 'Bellota Text', cursive;
    font-family: 'Bellota', cursive;
    border: solid;
    border-color: #00a8cc ;
}


.card {
  box-shadow: 0px 4px 8px gray;
  transition: 0.3s;
  width: 200px;
  height: 550px;
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  /* opacity: 0.75; */
  margin-left: 3rem;
  margin-top: 2rem;
  font-weight: 700;
  border: solid;
  background-color: teal;
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;


}

#barleybaguselist {
  list-style: square;
}

.card:hover {
  box-shadow: 0 12px 20px gray;
}

.testimonialCard {
  box-shadow: 0px 4px 8px gray;
  transition: 0.3s;
  width: 200px;
  height: 350px;
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
   opacity: 0.75; 
  /* margin-left: 3rem; */
  /* margin-top: 1rem; */
  font-size: 10px;
  height: 300px;
  margin-bottom: 1rem;
  font-weight: 700;
  /* border: solid; */
  margin-right: 2rem;
  /* background-color: teal; */
  /* color: white; */
  padding-right: 1rem;
  padding-left: 1rem;
} 

.testimonialCard:hover {
  box-shadow: 0 12px 20px gray;
}

.reviewForm {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 3rem;
  /* border: solid; */
  /* border-color: #00a8cc ; */
  box-shadow: 0px 0px 8px gray;
  padding: 1rem 1rem;
  padding-top: 1%;
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  margin-bottom: 1rem;
  opacity: 0.9;
}

.reviewForm:hover {
  box-shadow: 0 12px 20px gray;
}

 #reviewContent, #title, #submitReview  {
  border: solid;
  border-color:teal;
}

#reviewContent, #title {
  background-color: whitesmoke;
}

#submitReview {
margin: auto;
}

#submitReview:active {
  box-shadow: 0 8px 16px gray;
}

#reviewContent {
  height: 100px;
  /* word-wrap: break-word;
    word-break: break-all; */
}

.reviews {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

  
#Riley {
  height: 250px;
  width: 200px;
  /* border: solid;
  border-color:#00a8cc; */
  box-shadow: 0px 0px 8px gray;
  /* border-radius: 1rem; */
  opacity: 0.9;
  
}

#rileyFeedback {
  text-align: center;
}

#reviewTitle {
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  text-align: center;
}

.reviewCard {
  border: solid;
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  box-shadow: 0px 0px 8px gray;
  padding-left: 2rem;
  padding-right: 2rem;

}

.rileyFigure{
  text-align: center;
}
#Riley:hover {
  box-shadow: 0 12px 20px gray;
}


td  {
  /* height: 20px; */
  height: 40%;
  /* width: 20%; */
}

input {
  /* width: 20px; */
  width: 65%;
  /* margin: 0 auto; */
  text-align: center;
  
}

.inputBlue {
  background-color: #00a8cc ;
}

.game {
  display: flex;
  justify-content: space-evenly;
  margin-top: -1rem;
  position: relative;
  /* display: block; */
}

.clueList {
  font-size: 12px;
  /* margin-right: 4rem; */
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.puzzle {
  margin: auto;
  /* padding-right: 10rem; */
  border: solid;
  /* box-shadow: 0px 0px 8px gray; */
}

#crosswordTitle {
  text-align: center;
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  font-size: 35px;
}

.checkAnswers {
  font-family: 'Bellota Text', cursive;
  font-family: 'Bellota', cursive;
  box-shadow: 0px 0px 8px gray;
  border: solid;
  border-color:#00a8cc ;
}

.checkAnswers:hover {
  box-shadow: 0px 8px 16px gray;
}

#title {
  width: 12rem;
  text-align: start;
}


.reviewImages {
  width: 30%;
  height: 30%;
  box-shadow: 0px 0px 8px grey;
}

.reviewImages:hover {
  box-shadow: 0px 8px 16px gray;
}
/* #greenImage {
  height: 10rem;
} */

.bagImagesGroup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}